@model PracticaFinal.Models.CuotaPrestamo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CuotaPrestamo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPlanificada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPlanificada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRealizada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRealizada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodComprobante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodComprobante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPrestamoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPrestamoNavigation.Idprestamo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoTransaccionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoTransaccionNavigation.IdTipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodCuota">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
